#contenedorProductos {
    width: 800px;
    height: 800px;
    background-color: aquamarine;
    display: flex;
    color: black;
}

.producto {
    width: 700px;
    height: 500px;
    background-color: rgb(251, 139, 242);
    margin: 5px;
   border: 1px solid black;
}
img{
    width: 80px;
    height: 80px;
}