body {
  background: rgb(140, 233, 237);
  background: linear-gradient(
    90deg,
    rgba(140, 233, 237, 1) 12%,
    rgba(201, 197, 255, 1) 55%,
    rgba(151, 217, 221, 1) 79%,
    rgba(50, 245, 233, 1) 100%
  );
  text-align: center;
}

.lista_productos {
  font-size: 30px;
}
.img_producto {
  width: 300px;
  height: 300px;
}
